
DIV.winematrix {font-size: 12pt; }

TD.other  { font-size: 11pt; font-color: #000000;  background-color: #FFFFFF;}
TD.red    { font-size: 11pt; font-color: #FFFFCC;  background-color: #AA0000;}
TD.white  { font-size: 11pt; font-color: #330000;  background-color: #FFFF99;}
TD.bubbly { font-size: 11pt; font-color: #330000;  background-color: #FFEE66;}
TD.rose   { font-size: 11pt; font-color: #000000;  }

A.other:link, A.other:visited   { text-decoration: none; font-size: 11pt; color: #000000; font-color: #000000;  background-color: #FFFFFF;}
A.red:link, A.red:visited       { text-decoration: none; font-size: 11pt; color: #FFFFCC; font-color: #FFFFCC;  background-color: #AA0000;}
A.white:link, A.white:visited   { text-decoration: none; font-size: 11pt; color: #330000; font-color: #330000;  background-color: #FFFF99;}
A.bubbly:link, A.bubbly:visited { text-decoration: none; font-size: 11pt; color: #330000; font-color: #330000;  background-color: #FFEE66;}
A.rose:link, A.rose:visited     { text-decoration: none; font-size: 11pt; color: #000000; font-color: #000000;  }
